
 
<div class="indexpage">
<ul class="fullcat">
  <% @cats.each do |cat| %>
    <li class="catname"><a href="<%= cat_url(cat) %>">------<%= cat.name %>------</a>
    <li class="crimes"><%= cat.description %></li>
    </li>

  <% end %>
</ul>
</div>

<div class=report_area>
<div class=report_button>
<a href="<%= new_cat_url %>">Report Your Cat</a>
</div>
</div>
